@page
@model TodoWebsite.Pages.Shared.HomeModel
@{
    Layout = "_LayoutForHome";
}


<div class="window-overlay" onclick="overlayOff()">
    <div class="todo-open-card-wrapper">
        <div class="open-card-content">
            <div class="open-card-header">
                <h2 class="open-card-header-text"><strong>Merhaba</strong></h2>
            </div>
            <div class="open-card-description">
                <div class="description-header">
                    <h5>
                        <strong>Açıklama</strong>
                    </h5>
                </div>
                <p>fasdfasdfasd fasd fsadf asdf asdf asdf sadf asdf asdf asdf sd</p>

            </div>
        </div>
    </div>
</div>
<div class="list-main-container" ondragover="allowDrop(event)" ondrop="dropCard(event)">
    <div class="lists-wrapper-container" >
        
        <div class="list-add-wrapper" onclick="addList()" >
            <div class="list-add-composer"><i class="fa fa-plus"></i> Liste Ekle @Model.id
            </div>
        </div>
    </div>
</div>

@section InlineScripts{
    <script src="~/js/ToDo.js"></script>
}
