@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 <form asp-page-handler="UniversityRequest"  method="post">
        <label>Country Name</label>
        <input asp-for="country" placeholder="Enter a country name" />
        <button class="btn btn-dark">Send</button>
    </form>

    <div class="row row-cols-3"> 
   

    @if (@Model.universityList.Count > 0)
    {
        foreach (var university in @Model.universityList)
        {
            <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="https://cdn-icons-png.flaticon.com/512/5351/5351488.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@university.name</h5>
                    <a href=@university.web_pages.FirstOrDefault() target="_blank" class="btn btn-primary">Go University Page</a>
                </div>
            </div>
       
            </div>
        }
    } 
    </div>
</div>
