@page 
@model LoginModel
@{
     ViewData["Title"] = "Home page";
    
}


<h3 class="text-center"><strong>LOGIN</strong> </h3>

<form method="post">
    <div class="form">

        <div class="form-group mb-3">

        <label for="form-username">Username</label>
            <input class="form-control" id="form-username" asp-for="Username">

        </div>

        <div class="form-group mb-3">
        
        <label for="form-password">Password</label>
            <input class="form-control" id="form-password" asp-for="Password">

         </div>
        <label>@Model.ErrorMessage</label>
        <div class="text-center">
            <button class="btn btn-primary rounded-pill mt-3 mb-1" method="post" asp-page-handler="Login">Login</button>
            <div>Not registered? <a href="/Register"><span class="text-danger">Sign Up</span></a>  </div>
		</div>
    </div>

</form>



