@page
@model TodoWebsite.Pages.NotesModel
@{
    Layout = "_LayoutForHome";
}

<div class="notes-container">
    <div class="notes-wrapper">
        <div class="notepad">
            <div class="top" contenteditable="true">Note 1</div>
            <div class="paper" contenteditable="true">
                Hello world !!!
                This is my Personal Notebook
            </div>
        </div>
    </div>
</div>
