@page
@model TodoWebsite.Pages.NotesModel
@{
    Layout = "_LayoutForHome";
    var UserNotes = Model.UserNotes;
}


<input style="display: none" id="userId" value="@Model.UserId"/>

<div class="notes-container">
    <div id="note-container" class="notes-wrapper">

        @if (UserNotes != null)
        {
            foreach (var note in UserNotes)
            {

                <div id="@note.id" class="notepad notepad-item">
                    <div class="notepad-header">
                        <input class="notepad-header-text" contenteditable="true" asp-for="Notes" value=@note.topic />
                        <button class="note-close-button" type="submit" onclick="noteDeleteClick()">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                    <textarea class="paper">@note.content</textarea>
                </div>
            }
        }

        <div  class="notes-add-wrapper notepad-item" onclick="addNote()">
            <div class="notes-add-composer open-note-button">
                <i class="fa fa-plus"></i> Not Ekle
            </div>
        </div>
        <div class="save-button-wrapper">
            <button class="btn btn-success" type="submit" class="saveNote" style="width:100%" onclick="noteSaveClick(this)">
                Kaydet
            </button>
        </div>
    </div>
</div>


@*onclick="noteSaveClick('@note.id')*@"
@*<script >*@

@*    //function addNote() {
    //    var element=
    //    $('.notes-add-wrapper').before(
    //        '<div class="notepad notepad-item" >'+
    //        '<div class="top" contenteditable = "true" > Note 1 </div>'+
    //        '<div class= "paper" contenteditable = "true" > '+
    //        'Hello world!!! This is my Personal Notebook'+
    //        '</div>'+
    //        '</div>');
    //}*@
@*//</script>*@
@*        <div class="notepad notepad-item">
            <form method="post">

            <input class="top" contenteditable="true" asp-for="Notes"/>
            <textarea class="paper" contenteditable="true" asp-for="Content"> 
            </textarea>
            
               <button class="btn btn-success" type="submit" class="saveNote" style="width:100%">
                        Kaydet
                    </button>

                    <button class="btn btn-dark" type="submit" style="width:100%">
                            Sil
                     </button>
            </form>
            

        </div>*@