@page
@model TodoWebsite.Pages.RegisterModel

@{
    ViewData["Title"] = "Home page";
}

<h3 class="text-center mt-3"><strong>SIGN UP</strong></h3>

<form method="post">
    <div class="form">
        <div class="form-group mb-2">
            <label for="form-name">Name</label>
            <input class="form-control"  id="form-name" asp-for="Name">
        </div>

        <div class="form-group mb-2">
            <label for="form-surname">Surname</label>
            <input class="form-control" id="form-surname" asp-for="Surname">
        </div>

        <div class="form-group mb-2">
            <label for="form-username">Username</label>
            <input class="form-control" type="text" id="form-username" asp-for="Username">
        </div>

        <div class="form-group mb-2">
            <label for="form-password">New Password</label>
            <input class="form-control"  id="form-password"  asp-for="NewPassword">
        </div>

        <div class="form-group">
            <label for="form-newpassword">New Password Again</label>
            <input class="form-control" id="form-newpassword" asp-for="NewPasswordAgain">
        
        </div>
        <div class="text-center">
			<label class="text-danger">@Model.ErrorPassword</label>
			<label class="text-danger">@Model.ErrorMessage</label>
		</div>
        
        
	<div class="text-center mb-3" >
		<button type="submit" class="btn btn-primary rounded-pill mt-4">Sign Up</button>
            <div>Do you have a account? <a href="/Login"><span class="text-danger">Login</span></a>  </div>
        </div>
    </div>

  </form>
