@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3 class="text-center mt-3"><strong>SIGN UP</strong> </h3>

<div class="form">
    <div class="form-group mb-2">
        <label for="form-username">Name</label>
        <input class="form-control" type="text" name="todo" id="form-name" placeholder="Enter your name">
    </div>
    <div class="form-group mb-2">
        <label for="form-password">Surname</label>
        <input class="form-control" type="text" name="todo" id="form-surname" placeholder="Enter your surname">
    </div>

    <div class="form-group mb-2">
        <label for="form-username">Username</label>
        <input class="form-control" type="text" name="todo" id="form-username" placeholder="Username">
    </div>

    <div class="form-group mb-2">
        <label for="form-username">New Password</label>
        <input class="form-control" type="text" name="todo" id="form-password" placeholder="New password">
    </div>

    <div class="form-group">
        <label for="form-username">New Password Again</label>
        <input class="form-control" type="text" name="todo" id="form-newpassword" placeholder="New password again">
    </div>
</div>
<div class="text-center"><button class="btn btn-primary rounded-pill mt-4 mb-3">Sign Up</button></div>
