<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutForHomeCss.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    @Html.Partial("LayoutPartials/_header")
    <main>
        <section class="main-section">
            <div class="sidebar-container">
                <div class="sidebar-part1">
                    <nav class="navbar" role="navigation">
                        <ul class="nav sidebar-nav">
                            <div class="sidebar-header">
                                <div class="sidebar-brand">
                                    <a href="#">Brand</a>
                                </div>
                            </div>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#events">Events</a></li>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#followme">Follow me</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar-control-button">
                    <div class="shadow-outline"></div>
                    <button type="button" id="sidebarHover"></button>
                    <button type="button" id="sidebarControl"> <i class="icon-sidebar fa fa-close"></i> </button>
                </div>
            </div>
            
            <div class="content-container">
                @RenderBody()
            </div>
        </section>
    </main>
</body>
</html>
@RenderSection("InlineScripts", false)
<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('#sidebarControl'),
            sidebarContainer = $('.sidebar-part1'),
            contentContainer= $('.content-container'),
            iconSidebar= $('.icon-sidebar'),
            isClosed = true;
        contentContainer.css('padding-left', '260px');

        trigger.click(function () {
            SideBarOpenClose();
        });


        function SideBarOpenClose() {

            if (isClosed) {
                sidebarContainer.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                iconSidebar.removeClass('fa-close');
                iconSidebar.addClass('fa-bars');
                contentContainer.css('padding-left','40px');
                isClosed = false;
            } else {
                sidebarContainer.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                iconSidebar.removeClass('fa-bars');
                iconSidebar.addClass('fa-close');
                contentContainer.css('padding-left', '260px');
                isClosed = true;
            }
        }
    });
</script>