<div class="header">
    <a href="#default" class="logo">Logo</a>
    <div class="header-right">
        <a class="active" href="#home">Home</a>
        <a href="#To Do">To Do</a>
        <a href="#Process">Process</a>
        <a href="#Notification">Notification</a>
    </div>
</div>