<div class="header">
    <a href="#default" class="logo">TODO</a>
    <div class="header-right">
        <a href="/Home">Home</a>
        <a href="/Home">To Do</a>
        <a href="/Notes">Notes</a>
        <img class="ms-3" src="/avatar.svg" width="70" height="70">
           
    </div>
   
</div>
