
<div class="header">
    <a href="#default" class="logo">TODO</a>
    <div class="header-right">
        <a href="/Home" class="text-decoration-none">To Do</a>
        <a href="/Notes">Notes</a>
        <div class="dropdown">
            <div class="avatar">
                <img class="ms-3" src="/avatar2.png" width="50" height="50">
            </div>
            <div class="dropdown-content" >
                
                <a id="usernamesurname" href="#">Name</a>
                <a id="username" href="#">Username</a>
                <a onclick="logout()" href="/Login">Log out</a>

            </div>
        </div>
    </div>
</div>
<script>
  
    function logout(){
        var cookie= document.cookie;
        console.log(cookie)
        document.cookie = ".AspNetCore.cookie=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    }


</script>

